.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
  font-size: calc(1px + 2rem);
  color: white;
}

.App-link {
  color: #61dafb;
}


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}
